
<a href="#/">Revenir aux article</a><br>

<input type="text" ng-model="query" placeholder="Enter here">
    <hr>
    <select ng-model="order">
        <option value="stockCode">Organiser par Code</option>
        <option value="stockName">Organiser par Namse</option>
    </select>
    <hr>

<hr>
<h1>{{title}}</h1>
        <div ng-repeat="pr in listComments | filter:query | orderBy:order">
            <p>
            <strong>{{pr.stockCode}}</strong><br>
                <!--{{pr.stockId}}<br>-->
                {{pr.stockName | uppercase}}
            </p>
     </div>